/* ------------ Globals ------------ */

html {}
body {}
ul {
  margin: 0px;
}

/* ------------ home ------------ */
#home {
  text-align: center;
}
#home .home-header {
  text-align: center;
}
#home .banner {
  width: 100%;
  height: 40%;
  text-align: center;
  padding-top: 10px;
  background: grey;
}
/* ------------------------- */

/* ------------ portfolio ------------ */

#portfolio {
  text-align: center;
}
#portfolio .portfolio-header {
  text-align: center;
}
#portfolio .banner {
  width: 100%;
  height: 40%;
  text-align: center;
  padding-top: 10px;
  background: grey;
}

/* ------------------------- */


/* ------------ About ------------ */

#about {
  padding: 20px 0;
}
#about .packery {
  margin: 0 auto;
}
#about .packery .item {
  display: block;
  width: 150px;
  height: 200px;
  float: left;
  border: 1px solid grey;
}
#about .packery .item.w2 {
  width: 320px;
}
#about .packery .item.h2 {
  height: 350px;
}
#about .packery .item.h3 {
  ;
}

/* ------------------------- */


/* ------------ Header ------------ */

.header {
  text-align: right;
  background-color: #1F1E1F;
  display: block;
}
.header .logo {
  float: left;
  color: white;
  font-size: 18px;
  display: inline-block;
  padding: 25px;
  text-decoration: none;
  text-transform: uppercase;
}
.header .header-nav li {
  display: inline;
}
.header .header-nav li a {
  color: white;
  font-size: 18px;
  display: inline-block;
  padding: 25px;
  text-decoration: none;
  text-transform: uppercase;
}
.header .header-nav li a:hover {
  color: grey;
}

/* ------------------------- */
